body{
    margin: 0rem;
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    background-color: grey;

  }

  /* page d'accueil*/

/* header de page d'accueil */
  header{
      grid-column: 1/ span 6;
      grid-row: 1;
      background: url(image/bg4A.jpg) no-repeat;
      height: 150px;
    
      grid-gap: 10px;
      text-align: center;
  }



/* barre de navigation */
.nav{
    grid-column: 1/ span 6;
    grid-row: 2;
    color:  white;
    font-size: 20px;
    
    
}
a { 
  text-decoration: none; color: white;

}




  .nav2{

list-style: none;
margin: 0px;
padding: 0px;
}

.nav3{
    margin: 0px;
    padding: 0px;
    width: 253px;
    height: 40px;
    background-color: black;
    float: left;
    text-align: center;
    line-height: 40px;

}

nav ul li{
    padding: 1px;

}

nav ul li:hover{
  
    background-color: brown;
  
}

/* aside */

  aside{
    grid-column: 1/ span 2;
    grid-row: 3;
    
    grid-gap: 10px;
    height: 700px;
    
  }

  .yoga{
    border: 2px solid black;
    height: 700px;
    width: 500px;
  }


  /* main */
main{
    grid-column: 3/ span 4;
    grid-row: 3;
    
    height: 600px;
    grid-gap: 10px;
    padding: 20px;
}
  
.image-main{


 
    height: 300px;
    width: 800px;
 
  
  
    padding-left: 70px;
}


/* footer */


footer{
    grid-gap: 10px;
    grid-column: 1/ span 6;
    grid-row: 4;
    background-color: black;
    color: white;
    margin-top: 30px;

}

.foot{
    text-align: center;
    margin-top: 25px;
    font-family: fantasy;
    font-size: 20px;

}


/* page 2 contact */

/* aside */
.plan-aside{

    background-color: green;
}

/* main */
.plan-main{

    background-color: black;
}

/* footer */
.plan-footer{

    background-color: red;
}